
.spinner {
    height: 5em;
    width: 5em;
}


.profileContainer {
    display: flex;
    flex-direction : column;
    align-items: center;
    justify-content: center;
}
.cardPokemon {

    height: 20em;
    width: 15em;
    margin-top : 1em;

    background-color: lightcyan;

    border-radius: 0.5em;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.awfulLogo {
    height: 3em;
    width: 8em;
}

.pokemonUp {
    height: 2em;

    display: flex;
    align-items: center;
    justify-content: center;

}

.pokemonMiddle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

